
<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="10"></div>
    <div fxFlex="80">
        <mat-card>
            <mat-card-title>{{post.title}}</mat-card-title>
            <mat-card-content>{{post.body}}</mat-card-content>
            <mat-card-footer *ngIf="author" align="end">by {{author.username}}</mat-card-footer>
        </mat-card>
        <br>
        <button mat-raised-button color="primary" (click)="openUserInfoDialog()">Author info</button>
        <br>
        <br>
        <h4>Comments:</h4>
        <app-post-comments [postId]=post.id></app-post-comments>
    </div>
    <div fxFlex="10"></div>
</div>
